<!--<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<link rel="stylesheet" href="stylesheets/cus.css">
<div class="txt" id="foor">
 hiii
</div>
-->

<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lezada - Multipurpose eCommerce Bootstrap4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->

</head>

<body>


<!--=============================================
=            Header without topbar         =
=============================================-->

<header class="header header-split header-sticky" style="border-bottom: 1px solid #cfcfcf">

    <!--=======  header bottom  =======-->

    <div class="header-bottom pt-md-40 pb-md-40 pt-sm-40 pb-sm-40">
        <div class="container wide">

            <!--=======  header bottom container  =======-->

            <div class="header-bottom-container">

                <!--=======  logo with off canvas  =======-->

                <div class="logo-with-offcanvas d-flex">

                    <!--=======  offcanvas about icon  =======-->

                    <div class="offcanvas-about-icon mr-20 d-none d-lg-block">
                        <a href="javascript:void(0)" id="offcanvas-about-icon">
                            <i><img src="clientpages/client/images/allimg/logo.PNG" class="img-circle" width="50px" height="39px"></i>
                        </a>
                    </div>

                    <!--=======  End of offcanvas about icon  =======-->

                    <!--=======  logo   =======-->

                    <div class="logo" style="margin-top: -3px;background-color: rgb(255, 255, 255);border: 1px solid rgb(253, 253, 253);color: #2DB5A3;height: 37px;width: 143px">
                        <a href="index-special.html" style="margin-top: 4px;margin-left:5px;font-size: 15px">
                            <b>SOFTPRESS.COM</b>
                        </a>
                    </div>

                    <!--=======  End of logo 2DB5A3  =======-->
                </div>

                <!--=======  End of logo with off canvas  =======-->

                <!--=======  header bottom navigation  =======-->

                <div class="header-bottom-navigation">
                    <div class="site-main-nav d-none d-lg-block">

                        <div class="split-navigation-container d-flex justify-content-center" style="justify-content: left;margin-left: -330px">
                            <nav class="site-nav center-menu mr-100 mr-lg-80" style="    margin-top: -7px;
									margin-bottom: -3px;
								">
                                <ul>
                                    <li class="menu-item-has-children"><a href="index.html" style="font-weight:600 ">Discover Book</a>
                                        <ul class="sub-menu mega-menu mega-menu-column-5">
                                            <li><a href="javascript:void(0)" class="mega-column-title">Home Group</a>
                                                <ul class="mega-sub-menu">
                                                    <li><a href="index-trending.html">Trending</a><img src="assets/images/home-preview/01.jpg" class="img-fluid" alt=""></li>
                                                    <li><a href="index-collection.html">My collection</a><img src="assets/images/home-preview/02.jpg" class="img-fluid" alt=""></li>
                                                    <li><a href="index-special.html">Special</a><img src="assets/images/home-preview/03.jpg" class="img-fluid" alt=""></li>
                                                    <li><a href="index-concept.html">concept</a><img src="assets/images/home-preview/04.jpg" class="img-fluid" alt=""></li>
                                                    <li><a href="index-smart.html">smart design</a><img src="assets/images/home-preview/05.jpg" class="img-fluid" alt=""></li>
                                                </ul>
                                            </li>
                                            <li><a href="javascript:void(0)" class="mega-column-title">Home Group</a>
                                                <ul class="mega-sub-menu">
                                                    <li><a href="index-furniture.html">Furniture </a><img src="assets/images/home-preview/06.jpg" class="img-fluid" alt=""></li>
                                                    <li><a href="index-essentials.html">Essentials</a><img src="assets/images/home-preview/07.jpg" class="img-fluid" alt=""></li>
                                                    <li><a href="index-lookbook.html">Lookbook</a><img src="assets/images/home-preview/08.jpg" class="img-fluid" alt=""></li>
                                                    <li><a href="index-wearables.html">Wearables</a><img src="assets/images/home-preview/09.jpg" class="img-fluid" alt=""></li>
                                                    <li><a href="index-accessories.html">Accessories</a><img src="assets/images/home-preview/10.jpg" class="img-fluid" alt=""></li>
                                                </ul>
                                            </li>
                                            <li><a href="javascript:void(0)" class="mega-column-title">Home Group</a>
                                                <ul class="mega-sub-menu">
                                                    <li><a href="index-shoppable.html">Shoppable</a><img src="assets/images/home-preview/11.jpg" class="img-fluid" alt=""></li>
                                                    <li><a href="index-instagram.html">Instagram Shop</a><img src="assets/images/home-preview/12.jpg" class="img-fluid" alt=""></li>
                                                    <li><a href="index-fashion.html">Fashion</a><img src="assets/images/home-preview/13.jpg" class="img-fluid" alt=""></li>
                                                    <li><a href="index-perfumes.html">Perfumes</a><img src="assets/images/home-preview/14.jpg" class="img-fluid" alt=""></li>
                                                    <li><a href="index-cosmetics.html">Cosmetics</a><img src="assets/images/home-preview/15.jpg" class="img-fluid" alt=""></li>
                                                </ul>
                                            </li>
                                            <li><a href="javascript:void(0)" class="mega-column-title">Home Group</a>
                                                <ul class="mega-sub-menu">
                                                    <li><a href="index-decor.html">Home Decor</a><img src="assets/images/home-preview/16.png" class="img-fluid" alt=""></li>
                                                    <li><a href="index-creative.html">Creative</a><img src="assets/images/home-preview/17.png" class="img-fluid" alt=""></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="menu-image">
                                                    <img src="clientpages/client/assets/images/menu-image/menu-element.png" class="img-fluid" alt="">
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="shop-left-sidebar.html">Publishing Guidlines</a>
                                        <ul class="sub-menu mega-menu mega-menu-column-4">
                                            <li><a href="javascript:void(0)" class="mega-column-title">Shop Pages</a>
                                                <ul class="mega-sub-menu">
                                                    <li><a href="shop-no-sidebar.html">Shop No Sidebar</a></li>
                                                    <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                                                    <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                                    <li><a href="shop-fullwidth-no-space.html">Shop Fullwidth No Space</a></li>
                                                    <li><a href="shop-fullwidth-no-sidebar.html">Shop Fullwidth No Sidebar</a></li>
                                                    <li><a href="shop-fullwidth-left-sidebar.html">Shop Fullwidth Left Sidebar</a></li>
                                                    <li><a href="shop-fullwidth-right-sidebar.html">Shop Fullwidth Right Sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="javascript:void(0)" class="mega-column-title">Shop Pages</a>
                                                <ul class="mega-sub-menu">
                                                    <li><a href="shop-product-basic.html">Basic </a></li>
                                                    <li><a href="shop-product-fullwidth.html">Fullwidth</a></li>
                                                    <li><a href="shop-product-sticky-details.html">Sticky details</a></li>
                                                    <li><a href="shop-product-with-sidebar.html">With Sidebar</a></li>
                                                    <li><a href="shop-product-extra-content.html">Extra Content</a></li>
                                                    <li><a href="shop-product-variation-image.html">Variation Image</a></li>
                                                    <li><a href="shop-product-bought-together.html">Bought Together</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="javascript:void(0)" class="mega-column-title">Shop Pages</a>
                                                <ul class="mega-sub-menu">
                                                    <li><a href="shop-product-with-background.html">Product with background</a></li>
                                                    <li><a href="shop-cart.html">Shopping Cart</a></li>
                                                    <li><a href="shop-checkout.html">Checkout</a></li>
                                                    <li><a href="shop-order-tracking.html">Order Tracking</a></li>
                                                    <li><a href="shop-wishlist.html">Wishlist</a></li>
                                                    <li><a href="shop-customer-login.html">Customer Login</a></li>
                                                    <li><a href="shop-by-brand.html">Shop by Brand</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="menu-image">
                                                    <img src="clientpages/client/assets/images/menu-image/megamenu-shop.png" class="img-fluid" alt="">
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <!--=======  End of header bottom navigation  =======-->

                <!--=======  headeer right container  =======-->

                <div class="header-right-container" style="margin-right: 10px">

                    <!--=======  header right icons  =======-->

                    <div class="header-right-icons d-flex justify-content-end align-items-center h-100">
                        <!--=======  single-icon  =======-->

                        <div class="single-icon search">
                            <a href="javascript:void(0)" id="search-icon">
                                <i class="ion-ios-search-strong"></i>
                            </a>
                        </div>

                        <!--=======  End of single-icon  =======-->
                        <!--=======  single-icon  =======-->

                        <div class="single-icon user-login">
                            <a href="/login">
                                <i class="ion-android-person"></i>
                            </a>
                        </div>

                        <!--=======  End of single-icon  =======-->
                        <!--=======  single-icon  =======-->


                        <!--=======  End of single-icon  =======-->
                    </div>
                    <!--=======  End of header right icons  =======-->

                </div>

                <!--=======  End of headeer right container  =======-->


            </div>

            <!--=======  End of header bottom container  =======-->

            <!-- Mobile Navigation Start Here -->

            <div class="site-mobile-navigation d-block d-lg-none">
                <div id="dl-menu" class="dl-menuwrapper site-mobile-nav">
                    <!--Site Mobile Menu Toggle Start-->
                    <button class="dl-trigger hamburger hamburger--spin" style="margin-top: -7px">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
                    </button>
                    <!--Site Mobile Menu Toggle End-->
                    <ul class="dl-menu dl-menu-toggle">
                        <li class=""><a href="#">Discover Books</a>
                            <ul class="dl-submenu">
                                <li class=""> <a href="#">Home Group One</a>

                                </li>
                                <li> <a href="#">Home Group Two</a>
                                    <ul class="dl-submenu"><li class="dl-back"><a href="#">Back</a></li>
                                        <li><a href="index-furniture.html">Furniture </a></li>
                                        <li><a href="index-essentials.html">Essentials</a></li>
                                        <li><a href="index-lookbook.html">Lookbook</a></li>
                                        <li><a href="index-wearables.html">Wearables</a></li>
                                        <li><a href="index-accessories.html">Accessories</a></li>
                                    </ul>
                                </li>
                                <li> <a href="#">Home Group three</a>
                                    <ul class="dl-submenu"><li class="dl-back"><a href="#">Back</a></li>
                                        <li><a href="index-shoppable.html">Shoppable</a></li>
                                        <li><a href="index-instagram.html">Instagram Shop</a></li>
                                        <li><a href="index-fashion.html">Fashion</a></li>
                                        <li><a href="index-perfumes.html">Perfumes</a></li>
                                        <li><a href="index-cosmetics.html">Cosmetics</a></li>
                                    </ul>
                                </li>
                                <li> <a href="#">Home Group four</a>
                                    <ul class="dl-submenu"><li class="dl-back"><a href="#">Back</a></li>
                                        <li><a href="index-decor.html">Home Decor</a></li>
                                        <li><a href="index-creative.html">Creative</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li><a href="#">Publishing Guidelines</a>
                            <ul class="dl-submenu">
                                <li class=""> <a href="#">Shop Pages</a>
                                    <ul class="dl-submenu"><li class="dl-back"><a href="#">Back</a></li>
                                        <li><a href="shop-no-sidebar.html">Shop No Sidebar</a></li>
                                        <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                                        <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                        <li><a href="shop-fullwidth-no-space.html">Shop Fullwidth No Space</a></li>
                                        <li><a href="shop-fullwidth-no-sidebar.html">Shop Fullwidth No Sidebar</a></li>
                                        <li><a href="shop-fullwidth-left-sidebar.html">Shop Fullwidth Left Sidebar</a></li>
                                        <li><a href="shop-fullwidth-right-sidebar.html">Shop Fullwidth Right Sidebar</a></li>
                                    </ul>
                                </li>
                                <li class=""> <a href="#">Product Details Pages</a>
                                    <ul class="dl-submenu"><li class="dl-back"><a href="#">Back</a></li>
                                        <li><a href="shop-product-basic.html">Basic </a></li>
                                        <li><a href="shop-product-fullwidth.html">Fullwidth</a></li>
                                        <li><a href="shop-product-sticky-details.html">Sticky details</a></li>
                                        <li><a href="shop-product-with-sidebar.html">With Sidebar</a></li>
                                        <li><a href="shop-product-extra-content.html">Extra Content</a></li>
                                        <li><a href="shop-product-variation-image.html">Variation Image</a></li>
                                        <li><a href="shop-product-bought-together.html">Bought Together</a></li>


                                    </ul>
                                </li>
                                <li class=""> <a href="#">Other Shop Pages</a>
                                    <ul class="dl-submenu"><li class="dl-back"><a href="#">Back</a></li>
                                        <li><a href="shop-product-with-background.html">Product with background</a></li>
                                        <li><a href="shop-cart.html">Shopping Cart</a></li>
                                        <li><a href="shop-checkout.html">Checkout</a></li>
                                        <li><a href="shop-order-tracking.html">Order Tracking</a></li>
                                        <li><a href="shop-wishlist.html">Wishlist</a></li>
                                        <li><a href="shop-customer-login.html">Customer Login</a></li>
                                        <li><a href="shop-by-brand.html">Shop by Brand</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">My Account</a>
                            <ul class="dl-submenu">
                                <li class=""> <a href="#">Shop Pages</a>
                                    <ul class="dl-submenu"><li class="dl-back"><a href="#">Back</a></li>
                                        <li><a href="shop-no-sidebar.html">Shop No Sidebar</a></li>
                                        <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                                        <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                        <li><a href="shop-fullwidth-no-space.html">Shop Fullwidth No Space</a></li>
                                        <li><a href="shop-fullwidth-no-sidebar.html">Shop Fullwidth No Sidebar</a></li>
                                        <li><a href="shop-fullwidth-left-sidebar.html">Shop Fullwidth Left Sidebar</a></li>
                                        <li><a href="shop-fullwidth-right-sidebar.html">Shop Fullwidth Right Sidebar</a></li>
                                    </ul>
                                </li>
                                <li class=""> <a href="#">Product Details Pages</a>
                                    <ul class="dl-submenu"><li class="dl-back"><a href="#">Back</a></li>
                                        <li><a href="shop-product-basic.html">Basic </a></li>
                                        <li><a href="shop-product-fullwidth.html">Fullwidth</a></li>
                                        <li><a href="shop-product-sticky-details.html">Sticky details</a></li>
                                        <li><a href="shop-product-with-sidebar.html">With Sidebar</a></li>
                                        <li><a href="shop-product-extra-content.html">Extra Content</a></li>
                                        <li><a href="shop-product-variation-image.html">Variation Image</a></li>
                                        <li><a href="shop-product-bought-together.html">Bought Together</a></li>


                                    </ul>
                                </li>
                                <li class=""> <a href="#">Other Shop Pages</a>
                                    <ul class="dl-submenu"><li class="dl-back"><a href="#">Back</a></li>
                                        <li><a href="shop-product-with-background.html">Product with background</a></li>
                                        <li><a href="shop-cart.html">Shopping Cart</a></li>
                                        <li><a href="shop-checkout.html">Checkout</a></li>
                                        <li><a href="shop-order-tracking.html">Order Tracking</a></li>
                                        <li><a href="shop-wishlist.html">Wishlist</a></li>
                                        <li><a href="shop-customer-login.html">Customer Login</a></li>
                                        <li><a href="shop-by-brand.html">Shop by Brand</a></li>

                                    </ul>
                                </li>


                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Mobile Navigation End Here -->


        </div>
    </div>

    <!--=======  End of header bottom  =======-->
</header>
<!--===== End of Header without topbar ======-->

<!--=============================================
=            slider area         =
=============================================-->

<div class="slider-area mb-20 mt-2">
    <div class="container wide"  >
        <div class="row">
            <div class="col-lg-12">
                <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="homepage-6" data-source="gallery">
                    <!-- START REVOLUTION SLIDER 5.4.7 auto mode -->
                    <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7">
                        <ul>	<!-- SLIDE  -->
                            <li data-index="rs-10"  data-transition="boxfade,boxslide,parallaxtoright,parallaxtoleft,parallaxtotop,parallaxtobottom,parallaxhorizontal,parallaxvertical" data-slotamount="default,default,default,default,default,default,default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default,default,default,default,default,default,default" data-easeout="default,default,default,default,default,default,default,default" data-masterspeed="700,default,default,default,default,default,default,default"  data-thumb="assets/images/revimages/furniture/100x50_slider-homepage6-img1.png"  data-rotate="0,0,0,0,0,0,0,0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="clientpages/client/images/allimg/dummy.png" alt="" data-lazyload="client/images/slider/cc.png" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-10-layer-13"
                                     data-x="['left','center','left','left']" data-hoffset="['376','-301','81','32']"
                                     data-y="['top','top','top','top']" data-voffset="['280','305','275','216']"
                                     data-color="['rgb(51,51,51)','rgb(105,105,105)','rgb(105,105,105)','rgb(105,105,105)']"
                                     data-letterspacing="['','','0','0']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"

                                     data-type="text"
                                     data-responsive_offset="on"

                                     data-frames='[{"delay":700,"speed":1790,"sfxcolor":"#ffffff","sfx_effect":"blockfromtop","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"

                                     style="z-index: 5; white-space: nowrap; font-size: 39px; line-height: 36px; font-weight: 500; color: #ffffff; letter-spacing: 0px;font-family:Work Sans;"><div style="display:none; color: white">Free delivery from $30 </div> </div>

                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-10-layer-3"
                                     data-x="['left','center','center','left']" data-hoffset="['372','-209','-85','34']"
                                     data-y="['top','middle','middle','top']" data-voffset="['330','0','-127','271']"
                                     data-fontsize="['56','56','56','50']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"

                                     data-type="text"
                                     data-responsive_offset="on"

                                     data-frames='[{"delay":1270,"speed":1750,"sfxcolor":"#ffffff","sfx_effect":"blockfromtop","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"

                                     style="display:none;	z-index: 6; white-space: nowrap; font-size: 56px; line-height: 60px; font-weight: 300; color: #ffffff; letter-spacing: 0px;font-family:Work Sans;font-weight: 600">Innovative design </div>

                                <!-- LAYER NR. 3 -->

                            </li>
                            <!-- SLIDE  -->
                            <li data-index="rs-11" data-transition="boxslide,slotslide-horizontal,slotslide-vertical,boxfade,slotfade-horizontal,slotfade-vertical" data-slotamount="default,default,default,default,default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default,default,default,default,default" data-easeout="default,default,default,default,default,default" data-masterspeed="700,default,default,default,default,default"  data-thumb="assets/images/revimages/furniture/100x50_slider-homepage6-img2.png"  data-rotate="0,0,0,0,0,0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="clientpages/client/images/allimg/dummy.png" alt="" data-lazyload="client/images/slider/slide_book2.jpg" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->

                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-11-layer-13"
                                     data-x="['left','center','left','left']" data-hoffset="['376','-301','81','32']"
                                     data-y="['top','top','top','top']" data-voffset="['280','305','275','216']"
                                     data-color="['rgb(51,51,51)','rgb(105,105,105)','rgb(105,105,105)','rgb(105,105,105)']"
                                     data-letterspacing="['','','0','0']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"

                                     data-type="text"
                                     data-responsive_offset="on"

                                     data-frames='[{"delay":700,"speed":2020,"sfxcolor":"#ffffff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"

                                     style="z-index: 5; white-space: nowrap; font-size: 24px; line-height: 36px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Work Sans;"><div style="color: #f7f4f4">Free delivery from $30 </div> </div>

                                <!-- LAYER NR. 5 -->
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-11-layer-3"
                                     data-x="['left','center','center','left']" data-hoffset="['372','-209','-85','34']"
                                     data-y="['top','middle','middle','top']" data-voffset="['330','0','-127','271']"
                                     data-fontsize="['56','56','56','50']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"

                                     data-type="text"
                                     data-responsive_offset="on"

                                     data-frames='[{"delay":700,"speed":2000,"sfxcolor":"#ffffff","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"

                                     style="z-index: 6; white-space: nowrap; font-size: 56px; line-height: 60px; font-weight: 300; color: #ffffff; letter-spacing: 0px;font-family:Work Sans;">Beautiful interior </div>

                                <!-- LAYER NR. 6 -->

                            </li>
                            <!-- SLIDE  -->
                            <li data-index="rs-12" data-transition="boxfade,boxslide,parallaxtoright,parallaxtoleft,parallaxtotop,parallaxtobottom,parallaxhorizontal,parallaxvertical" data-slotamount="default,default,default,default,default,default,default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default,default,default,default,default,default,default" data-easeout="default,default,default,default,default,default,default,default" data-masterspeed="700,default,default,default,default,default,default,default"  data-thumb="assets/images/revimages/furniture/100x50_slider-homepage6-img3.png"  data-rotate="0,0,0,0,0,0,0,0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="clientpages/client/images/allimg/dummy.png" alt="" data-lazyload="client/images/slider/slide_book1.jpg" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->

                                <!-- LAYER NR. 7 -->
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-12-layer-13"
                                     data-x="['center','center','center','center']" data-hoffset="['0','12','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['107','94','151','186']"
                                     data-fontsize="['24','24','24','18']"
                                     data-color="['rgb(51,51,51)','rgb(105,105,105)','rgb(105,105,105)','rgb(105,105,105)']"
                                     data-letterspacing="['','','0','0']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"

                                     data-type="text"
                                     data-responsive_offset="on"

                                     data-frames='[{"delay":700,"speed":1300,"sfxcolor":"#ffffff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"

                                     style="z-index: 5; white-space: nowrap; font-size: 24px; line-height: 36px; font-weight: 400; color: #333333; letter-spacing: 0px;font-family:Work Sans;">Summer sale up to 30% </div>

                                <!-- LAYER NR. 8 -->
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-12-layer-3"
                                     data-x="['center','center','center','center']" data-hoffset="['0','14','0','0']"
                                     data-y="['top','middle','middle','top']" data-voffset="['171','-202','-230','235']"
                                     data-fontsize="['56','56','56','40']"
                                     data-lineheight="['60','60','60','50']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"

                                     data-type="text"
                                     data-responsive_offset="on"

                                     data-frames='[{"delay":1540,"speed":1400,"sfxcolor":"#ffffff","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"

                                     style="z-index: 6; white-space: nowrap; font-size: 56px; line-height: 60px; font-weight: 300; color: #333333; letter-spacing: 0px;font-family:Work Sans;">Beautiful interior </div>

                                <!-- LAYER NR. 9 -->

                            </li>
                        </ul>
                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                    </div>
                </div><!-- END REVOLUTION SLIDER -->
            </div>
        </div>
    </div>
</div>

<!--=====  End of slider area  ======-->

<!--=============================================
=            hover banner area         =
=============================================-->





<div class="" style="background-color: #3fcebb;width: 100%;display: none;" id="fors">
    <center><div class="row">
        <div class="container text-center" style="padding-bottom: 20px;padding-top: 20px">
            <center style="font-size: 17px;color: white">
                <p class="title" style="font-weight: 600">SIGN UP TO START PUBLISING NOW</p>
            </center>
        </div>
        <div class="row" style="padding-bottom: 50px"><br>
            <div class="ftxt">

                <input type="text" class=" txt  " id="usr" placeholder="Name ">
            </div>
            <div class="">
                <input type="text" class="txt  " id="ema" placeholder="Email">
            </div>
            <div class="">
				<span style=";padding-top: 10px">
					<label style="background-color:#f7f4f4;    height: 50px;padding-top: 11px;width: 39px;border-bottom-left-radius: 7px; border-top-left-radius: 6px;">
						<center>+91</center>
					</label>
					<input style="margin-left: -5px;border-bottom-left-radius: 0px;border-top-left-radius: 0px;" type="text" class="txt" id="mno" placeholder="Mobile Number">
				</span>
            </div>

            <div class="">
                <input type="password" class="txt" id="pwd" placeholder="Passsword">
            </div>
            <input type="submit" value="START" id="sub" class="btn btn-secondary btnn" style="height: 51px;">
        </div>
        <div>
    </center>
</div>

<!--=====  End of countdowntimer area  ======-->

<div class="cabinet-revslider-area mt-50 mt-md-30 mt-sm-30 mb-100 mb-md-80 mb-sm-80">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div id="rev_slider_6_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="banner-cabinet" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                    <!-- START REVOLUTION SLIDER 5.4.7 fullwidth mode -->
                    <div id="rev_slider_6_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7">
                        <ul>	<!-- SLIDE  -->
                            <li data-index="rs-14" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="470"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="clientpages/client/images/allimg/transparent.png" data-bgcolor='#ffffff' style='background:#ffffff' alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                                     id="slide-14-layer-1"
                                     data-x="['right','right','right','right']" data-hoffset="['681','0','0','11']"
                                     data-y="['top','top','top','top']" data-voffset="['82','70','70','209']"
                                     data-width="['560','560','560','320']"
                                     data-height="['560','560','560','320']"
                                     data-whitespace="nowrap"

                                     data-type="shape"
                                     data-responsive_offset="on"

                                     data-frames='[{"delay":410,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"

                                     style="z-index: 5;background-color:rgb(236,244,246);border-radius:280px 280px 280px 280px;">
                                    <div class="rs-looped rs-pulse"  data-easing="" data-speed="5" data-zoomstart="0.8" data-zoomend="1.1"> </div></div>

                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption   tp-resizeme rs-parallaxlevel-1"
                                     id="slide-14-layer-4"
                                     data-x="['left','left','left','left']" data-hoffset="['836','132','84','33']"
                                     data-y="['top','top','top','top']" data-voffset="['351','414','464','469']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"

                                     data-type="image"
                                     data-responsive_offset="on"

                                     data-frames='[{"delay":610,"speed":2170,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"

                                     style="z-index: 6;"><img src="clientpages/client/images/allimg/cabinet.png" alt="" data-ww="['788auto','762px','593px','422px']" data-hh="['402px','325px','253px','180px']" data-no-retina> </div>

                                <!-- LAYER NR. 3 -->


                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-1"
                                     id="slide-14-layer-6"
                                     data-x="['left','left','left','left']" data-hoffset="['1583','794','549','330']"
                                     data-y="['top','top','top','top']" data-voffset="['315','406','407','394']"
                                     data-width="100"
                                     data-height="100"
                                     data-whitespace="nowrap"

                                     data-type="shape"
                                     data-responsive_offset="on"

                                     data-frames='[{"delay":800,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"

                                     style="z-index: 8;background-color:rgb(51,51,51);border-radius:50px 50px 50px 50px;"> </div>

                                <!-- LAYER NR. 5 -->
                                <div class="tp-caption   tp-resizeme rs-parallaxlevel-1"
                                     id="slide-14-layer-7"
                                     data-x="['right','right','right','right']" data-hoffset="['263','156','156','76']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['-49','41','41','29']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"

                                     data-type="text"
                                     data-responsive_offset="on"

                                     data-frames='[{"delay":970,"speed":1400,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"

                                     style="z-index: 9; white-space: nowrap; font-size: 16px; line-height: 25px; font-weight: 400; color: #ffffff; letter-spacing: 1px;font-family:Work Sans;"> Own</div>

                                <!-- LAYER NR. 6 -->
                                <div class="tp-caption   tp-resizeme rs-parallaxlevel-1"
                                     id="slide-14-layer-8"
                                     data-x="['right','right','right','right']" data-hoffset="['265','158','158','80']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['-22','72','72','60']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"

                                     data-type="text"
                                     data-responsive_offset="on"

                                     data-frames='[{"delay":970,"speed":1410,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"

                                     style="z-index: 10; white-space: nowrap; font-size: 20px; line-height: 25px; font-weight: 700; color: #ffffff; letter-spacing: 1px;font-family:Work Sans;">Shelf </div>

                                <!-- LAYER NR. 7 -->
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-14-layer-9"
                                     data-x="['left','left','left','left']" data-hoffset="['287','93','89','21']"
                                     data-y="['top','top','top','top']" data-voffset="['170','73','58','108']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"

                                     data-type="text"
                                     data-responsive_offset="on"

                                     data-frames='[{"delay":660,"speed":1280,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"

                                     style="z-index: 11; white-space: nowrap; font-size: 16px; line-height: 22px; font-weight: 500; color: #333333; letter-spacing: 2px;font-family:Work Sans;">FEATURED PRODUCT </div>

                                <!-- LAYER NR. 8 -->
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-14-layer-10"
                                     data-x="['left','left','left','left']" data-hoffset="['281','91','88','21']"
                                     data-y="['top','top','top','top']" data-voffset="['208','116','97','142']"
                                     data-fontsize="['48','48','48','40']"
                                     data-lineheight="['64','64','64','45']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"

                                     data-type="text"
                                     data-responsive_offset="on"

                                     data-frames='[{"delay":1050,"speed":1230,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"

                                     style="z-index: 12; white-space: nowrap; font-size: 48px; line-height: 64px; font-weight: 400; color: #333333; letter-spacing: 0px;font-family:Work Sans;">SoftPress shelf <br>
                                    collection </div>

                                <!-- LAYER NR. 9 -->
                                <div class="tp-caption   tp-resizeme"
                                     id="slide-14-layer-11"
                                     data-x="['left','left','left','left']" data-hoffset="['282','90','90','23']"
                                     data-y="['top','top','top','top']" data-voffset="['368','283','262','250']"
                                     data-fontsize="['15','15','15','14']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"

                                     data-type="text"
                                     data-responsive_offset="on"

                                     data-frames='[{"delay":1300,"speed":1180,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"

                                     style="z-index: 13; white-space: nowrap; font-size: 15px; line-height: 26px; font-weight: 400; color: #7e7e7e; letter-spacing: 0.5px;font-family:Work Sans;">Lorem ipsum dolor sit amet, consectetur cing elit. Suspe ndisse<br> suscipit sagittis leo estibulum issim Lorem ipsum dolor sit amet,<br> consectetur cing elit. </div>

                                <!-- LAYER NR. 10 -->
                                <div class="tp-caption   "
                                     id="slide-14-layer-12"
                                     data-x="['left','left','left','left']" data-hoffset="['282','91','89','29']"
                                     data-y="['top','top','top','top']" data-voffset="['478','384','364','349']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"

                                     data-type="button"
                                     data-responsive_offset="on"
                                     data-responsive="off"
                                     data-frames='[{"delay":1580,"speed":1270,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(51,51,51);bg:transparent;"}]'
                                     data-textAlign="['inherit','inherit','inherit','inherit']"
                                     data-paddingtop="[12,12,12,12]"
                                     data-paddingright="[35,35,35,35]"
                                     data-paddingbottom="[12,12,12,12]"
                                     data-paddingleft="[35,35,35,35]"

                                     style="z-index: 14;">
                                    <button class="lezada-button lezada-button--medium">Go To My Shelf</button>
                                </div>
                            </li>
                        </ul>
                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
                </div><!-- END REVOLUTION SLIDER -->
            </div>
        </div>
    </div>
</div>


<div class="container-fluid " style="
 box-shadow: 0 -5px  20px -5px lightgray;min-height:130px">
    <br>
    <center>
        <h1 style="font-weight:500"> Get the SoftPress With Utilities </h1>
    </center>
    <br>
    <div class="row">
        <div class="col-sm-3" style=";">
            <div style="font-size:20px">
                <center>
                    <img src="clientpages/client/images/allimg/24-hours.PNG"></i> <br>
                    <h3 style="font-weight:600">Publish Your Book Faster</h3>
                    <p style="font-size:14px;line-height: 20px;">You no longer have to wait for months to even hear back from a
                        publisher. You have complete control over your books publishing timeline.</p>


                </center>

            </div>

        </div>
        <div class="col-sm-3" style="background-color:white;">
            <center>
                <img src="clientpages/client/images/allimg/Copy.PNG" width="70px"></i> <br>
                <h3 style="font-weight:600">Publish Book By YouSelf</h3>
                <p style="font-size:14px;line-height: 20px;">You dont have to sign over your rights to a publisher. We believe
                    that it is your book, your story and you should own all the rights.</p>
            </center>
        </div>
        <div class="col-sm-3">
            <center>
                <img src="clientpages/client/images/allimg/notebooks.PNG" width="70px"></i> <br>
                <h3 style="font-weight:600">Get Number of Book</h3>
                <p style="font-size:14px;line-height: 20px;">You dont have to sign over your rights to a publisher. We believe
                    that it is your book, your story and you should own all the rights.</p>
            </center>
        </div>
        <div class="col-sm-3" >
            <center>
                <img src="clientpages/client/images/allimg/users-group-1.PNG" width="70px"></i> <br>
                <h3 style="font-weight:600">Number of Authors and Readers</h3>
                <p style="font-size:14px;line-height: 20px;">You dont have to sign over your rights to a publisher. We believe
                    that it is your book, your story and you should own all the rights.</p>
            </center>
        </div>
    </div>
</div>
<br>
<!--=============================================
=            section title  container      =
=============================================-->
<br>

<div class="container-fluid plans mt-30" style="">

    <br>
    <center>
        <h1>Future Services with SoftPress<h1>
    </center>
    <br>
    <div class="row offset-0">
        <div class="col-sm-6 text-center lns" style="display:inline-block">
            <h3 style="font-weight:600"><span style="color:#3fcebb">Guided</span> Publishing</h3>
            <br>
            <p style="line-height: 20px;margin-bottom: 40px;font-size: 17px;">Get your own dedicated team of experts who
                will work on every aspect of your book.</p>
            <br>
            <ul class="text-left uls">
                <li><i class="fa fa-check-circle lis"></i> Own 100% of the rights</li>
                <li><i class="fa fa-check-circle lis"></i> Get a team of experts to publish your book</li>
                <li><i class="fa fa-check-circle lis"></i> Take home 100% profits</li>
                <li><i class="fa fa-check-circle lis"></i> Sell worldwide on more than 30,000 stores</li>
                <li><i class="fa fa-check-circle lis"></i> Get a host of premium book marketing services</li>
            </ul>
        </div>

        <div class="col-sm-6 text-center" style="display:inline-block">
            <h3 style="font-weight:600"><span style="color:#3fcebb">Formate</span> Book</h3>
            <br>
            <p style="line-height: 20px;margin-bottom: 40px;font-size: 17px;">Make your Book profrssional and stylish by using our diiferent designing tools and its utilities </p>
            <br>
            <ul class="text-left uls">
                <li><i class="fa fa-check-circle lis"></i> Own 100% of the rights</li>
                <li><i class="fa fa-check-circle lis"></i> Get a collection to Style your book</li>
                <li><i class="fa fa-check-circle lis"></i> Take home 70% profits</li>
                <li><i class="fa fa-check-circle lis"></i> Publish boook with diffrent designs</li>
                <li><i class="fa fa-check-circle lis"></i> Get access to exclusive book marketing tools</li>
            </ul>
        </div>
    </div>
    <br>
</div>
<br><br><br>
<div class="section-title-container mb-50 mb-md-30 mb-sm-30 mt-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  section title  =======-->

                <div class="section-title section-title--one text-center">
                    <h1>Testimonial</h1>
                </div>

                <!--=======  End of section title  =======-->
            </div>
        </div>
    </div>
</div>

<!--=====  End of section title container ======-->

<!--=============================================
=            multi item testimonial area        =
=============================================-->

<div class="lezada-testimonial multi-item-testimonial-area mb-100 mb-md-80 mb-sm-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  testmonial slider container  =======-->

                <div class="lezada-slick-slider multi-testimonial-slider-container"
                     data-slick-setting='{
						"slidesToShow": 3,
						"arrows": true,
						"autoplay": false,
						"autoplaySpeed": 5000,
						"speed": 1000,
						"prevArrow": {"buttonClass": "slick-prev", "iconClass": "ti-angle-left" },
						"nextArrow": {"buttonClass": "slick-next", "iconClass": "ti-angle-right" }
					}'
                     data-slick-responsive='[
						{"breakpoint":1501, "settings": {"slidesToShow": 3} },
						{"breakpoint":1199, "settings": {"slidesToShow": 3} },
						{"breakpoint":991, "settings": {"slidesToShow": 2, "arrows": false} },
						{"breakpoint":767, "settings": {"slidesToShow": 1, "arrows": false} },
						{"breakpoint":575, "settings": {"slidesToShow": 1, "arrows": false} },
						{"breakpoint":479, "settings": {"slidesToShow": 1, "arrows": false} }
					]'
                >

                    <!--=======  single testimonial  =======-->

                    <div class="col">
                        <div class="testimonial-item multi-testimonial-single-item">
                            <div class="multi-testimonial-single-item__author-info">
                                <div class="image">
                                    <img src="clientpages/client/images/testimonial/testimonial-1-80x80.png" class="img-fluid" alt="">
                                </div>

                                <div class="content">
                                    <p class="name">Sally Ramsey</p>
                                    <span class="designation">/ Reporter</span>
                                </div>
                            </div>
                            <div class="multi-testimonial-single-item__text">
                                I can say your dedication is second to none. I like the fact that you are strongly proud of your work in every way.
                            </div>

                        </div>
                    </div>

                    <!--=======  End of single testimonial  =======-->

                    <!--=======  single testimonial  =======-->

                    <div class="col">
                        <div class="testimonial-item multi-testimonial-single-item">
                            <div class="multi-testimonial-single-item__author-info">
                                <div class="image">
                                    <img src="clientpages/client/images/testimonial/testimonial-2-80x80.jpg" class="img-fluid" alt="">
                                </div>

                                <div class="content">
                                    <p class="name">Lois Thompson</p>
                                    <span class="designation">/ Actor</span>
                                </div>
                            </div>
                            <div class="multi-testimonial-single-item__text">
                                This has already been my fifth-time purchasing their theme. I have been highly satisfied with their work.
                            </div>

                        </div>
                    </div>

                    <!--=======  End of single testimonial  =======-->

                    <!--=======  single testimonial  =======-->

                    <div class="col">
                        <div class="testimonial-item multi-testimonial-single-item">
                            <div class="multi-testimonial-single-item__author-info">
                                <div class="image">
                                    <img src="clientpages/client/images/testimonial/testimonial-3-80x80.jpg" class="img-fluid" alt="">
                                </div>

                                <div class="content">
                                    <p class="name">Florence Pittman</p>
                                    <span class="designation">/ Model</span>
                                </div>
                            </div>
                            <div class="multi-testimonial-single-item__text">
                                There's nothing would satisfy me much more than a worry-free clean and responsive theme for my high-traffic site.
                            </div>

                        </div>
                    </div>

                    <!--=======  End of single testimonial  =======-->

                    <!--=======  single testimonial  =======-->

                    <div class="col">
                        <div class="testimonial-item multi-testimonial-single-item">
                            <div class="multi-testimonial-single-item__author-info">
                                <div class="image">
                                    <img src="clientpages/client/images/testimonial/testimonial-4-80x80.jpg" class="img-fluid" alt="">
                                </div>

                                <div class="content">
                                    <p class="name">Anais Coulon</p>
                                    <span class="designation">/ Model</span>
                                </div>
                            </div>
                            <div class="multi-testimonial-single-item__text">
                                Five-star for good customer support. They have the ability to resolve any issue in less than the time for a coffee cup.
                            </div>

                        </div>
                    </div>

                    <!--=======  End of single testimonial  =======-->

                </div>

                <!--=======  End of testmonial slider container  =======-->
            </div>
        </div>
    </div>
</div>

<!--=====  End of multi item testimonial area ======-->

<!--=======  small-separator  =======-->

<div class="small-separator">
    <span></span>
</div>

<!--=======  End of small-separator  =======-->

<!--=============================================
=            cabinet rev slider area         =
=============================================-->



<!--=====  End of cabinet rev slider area  ======-->

<!--=============================================
=            footer area         =
=============================================-->

<div class="footer-container footer-one pt-100 pb-50">
    <div class="container wide">
        <div class="row">
            <div class="col footer-single-widget">
                <!--=======  copyright text  =======-->
                <!--=======  logo  =======-->

                <div class="logo">
                    <img src="clientpages/client/images/allimg/logo.png" style="margin-left:-39px;opacity:.3" class="img-fluid" alt="">
                </div>


                <!--=======  copyright text  =======-->

                <div class="copyright-text">
                    <p> &copy; 2019 lezada.  <span>All Rights Reserved</span></p>
                </div>

                <!--=======  End of copyright text  =======-->

                <!--=======  End of copyright text  =======-->
            </div>
            <div class="col footer-single-widget">
                <!--=======  single widget  =======-->
                <h5 class="widget-title">ABOUT</h5>

                <!--=======  footer navigation container  =======-->

                <div class="footer-nav-container">
                    <nav>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Store location</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Orders tracking</a></li>
                        </ul>
                    </nav>
                </div>

                <!--=======  End of footer navigation container  =======-->

                <!--=======  single widget  =======-->
            </div>
            <div class="col footer-single-widget">
                <!--=======  single widget  =======-->
                <h5 class="widget-title">USEFUL LINKS</h5>

                <!--=======  footer navigation container  =======-->

                <div class="footer-nav-container">
                    <nav>
                        <ul>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Support Policy</a></li>
                            <li><a href="#">Size guide</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                    </nav>
                </div>

                <!--=======  End of footer navigation container  =======-->

                <!--=======  single widget  =======-->
            </div>

            <div class="col footer-single-widget">
                <!--=======  single widget  =======-->
                <h5 class="widget-title">FOLLOW US ON</h5>

                <!--=======  footer navigation container  =======-->

                <div class="footer-nav-container footer-social-links">
                    <nav>
                        <ul>
                            <li><a href="http://twitter.com/"><i class="fa fa-twitter"></i> Twitter</a></li>
                            <li><a href="http://facebook.com/"> <i class="fa fa-facebook"></i> Facebook</a></li>
                            <li><a href="http://instagram.com/"><i class="fa fa-instagram"></i> Instagram</a></li>
                            <li><a href="http://youtube.com/"> <i class="fa fa-youtube"></i> Youtube</a></li>
                        </ul>
                    </nav>
                </div>

                <!--=======  End of footer navigation container  =======-->


                <!--=======  single widget  =======-->
            </div>
            <div class="col footer-single-widget">
                <!--=======  single widget  =======-->

                <div class="footer-subscription-widget">
                    <h2 class="footer-subscription-title">Subscribe.</h2>
                    <p class="subscription-subtitle">Subscribe to our newsletter to receive news on update.</p>

                    <!--=======  subscription form  =======-->

                    <div class="subscription-form">
                        <form id="mc-form" class="mc-form">
                            <input type="email" placeholder="Your email address" required>
                            <button type="submit"><i class="ion-ios-arrow-thin-right"></i></button>
                        </form>
                    </div>

                    <!--=======  End of subscription form  =======-->

                    <!-- mailchimp-alerts Start -->

                    <div class="mailchimp-alerts">
                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                    </div><!-- mailchimp-alerts end -->

                </div>

                <!--=======  End of single widget  =======-->
            </div>
        </div>
    </div>
</div>

<!--=====  End of footer area  ======-->


<!--=============================================
=            overlay items         =
=============================================-->

<!--=======  about overlay  =======-->

<div class="header-offcanvas about-overlay" id="about-overlay">
    <div class="overlay-close inactive"></div>
    <div class="overlay-content">

        <!--=======  close icon  =======-->

        <span class="close-icon" id="about-close-icon">
				<a href="javascript:void(0)">
					<i class="ti-close"></i>
				</a>
			</span>

        <!--=======  End of close icon  =======-->

        <!--=======  overlay content container  =======-->

        <div class="overlay-content-container d-flex flex-column justify-content-between h-100">
            <!--=======  widget wrapper  =======-->

            <div class="widget-wrapper">
                <!--=======  single widget  =======-->

                <div class="single-widget">
                    <h2 class="widget-title">About Us</h2>
                    <p>At Lezada, we put a strong emphasis on simplicity, quality and usefulness of fashion products over other factors. Our fashion items never get outdated. They are not short-lived as normal fashion clothes.</p>
                </div>

                <!--=======  End of single widget  =======-->
            </div>

            <!--=======  End of widget wrapper  =======-->

            <!--=======  contact widget  =======-->

            <div class="contact-widget">
                <p class="email"><a href="mailto:contact@lezada.com">contact@lezada.com</a></p>
                <p class="phone">(+00) 123 567990</p>

                <div class="social-icons">
                    <ul>
                        <li><a href="http://www.twitter.com/" data-tippy="Twitter" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="http://www.facebook.com/" data-tippy="Facebook" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"  target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://www.instagram.com/" data-tippy="Instagram" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="http://www.youtube.com/" data-tippy="Youtube" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </div>
            </div>

            <!--=======  End of contact widget  =======-->
        </div>

        <!--=======  End of overlay content container  =======-->
    </div>
</div>

<!--=======  End of about overlay  =======-->

<!--=======  wishlist overlay  =======-->

<div class="wishlist-overlay" id="wishlist-overlay">
    <div class="wishlist-overlay-close inactive"></div>
    <div class="wishlist-overlay-content">
        <!--=======  close icon  =======-->

        <span class="close-icon" id="wishlist-close-icon">
				<a href="javascript:void(0)">
					<i class="ion-android-close"></i>
				</a>
			</span>

        <!--=======  End of close icon  =======-->

        <!--=======  offcanvas wishlist content container  =======-->

        <div class="offcanvas-cart-content-container">
            <h3 class="cart-title">Wishlist</h3>

            <div class="cart-product-wrapper">
                <div class="cart-product-container  ps-scroll">
                    <!--=======  single cart product  =======-->

                    <div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
                        <div class="image">
                            <a href="shop-product-basic.html">
                                <img src="assets/images/cart-product-image/01.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <h5><a href="shop-product-basic.html">Dark Brown Leather Watch</a></h5>
                            <p><span class="main-price discounted">$200.00</span> <span class="discounted-price">$180.00</span></p>

                        </div>
                    </div>

                    <!--=======  End of single cart product  =======-->
                    <!--=======  single cart product  =======-->

                    <div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
                        <div class="image">
                            <a href="shop-product-basic.html">
                                <img src="assets/images/cart-product-image/02.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <h5><a href="shop-product-basic.html">Dining Chair</a></h5>
                            <p><span class="main-price discounted">$300.00</span> <span class="discounted-price">$220.00</span></p>

                        </div>
                    </div>

                    <!--=======  End of single cart product  =======-->
                    <!--=======  single cart product  =======-->

                    <div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
                        <div class="image">
                            <a href="shop-product-basic.html">
                                <img src="assets/images/cart-product-image/03.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <h5><a href="shop-product-basic.html">Creative Wooden Stand</a></h5>
                            <p><span class="main-price discounted">$100.00</span> <span class="discounted-price">$80.00</span></p>

                        </div>
                    </div>

                    <!--=======  End of single cart product  =======-->
                    <!--=======  single cart product  =======-->

                    <div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
                        <div class="image">
                            <a href="shop-product-basic.html">
                                <img src="assets/images/cart-product-image/01.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <h5><a href="shop-product-basic.html">Dark Brown Leather Watch</a></h5>
                            <p><span class="main-price discounted">$200.00</span> <span class="discounted-price">$180.00</span></p>

                        </div>
                    </div>

                    <!--=======  End of single cart product  =======-->
                    <!--=======  single cart product  =======-->

                    <div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
                        <div class="image">
                            <a href="shop-product-basic.html">
                                <img src="assets/images/cart-product-image/02.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <h5><a href="shop-product-basic.html">Creative Wooden Stand</a></h5>
                            <p><span class="main-price discounted">$200.00</span> <span class="discounted-price">$180.00</span></p>

                        </div>
                    </div>

                    <!--=======  End of single cart product  =======-->
                </div>

                <!--=======  cart buttons  =======-->

                <div class="cart-buttons">
                    <a href="shop-wishlist.html">view wishlist</a>
                </div>

                <!--=======  End of cart buttons  =======-->
            </div>
        </div>

        <!--=======  End of offcanvas wishlist content container   =======-->
    </div>
</div>

<!--=======  End of wishlist overlay  =======-->

<!--=======  cart overlay  =======-->

<div class="cart-overlay" id="cart-overlay">
    <div class="cart-overlay-close inactive"></div>
    <div class="cart-overlay-content">
        <!--=======  close icon  =======-->

        <span class="close-icon" id="cart-close-icon">
				<a href="javascript:void(0)">
					<i class="ion-android-close"></i>
				</a>
			</span>

        <!--=======  End of close icon  =======-->

        <!--=======  offcanvas cart content container  =======-->

        <div class="offcanvas-cart-content-container">
            <h3 class="cart-title">Cart</h3>

            <div class="cart-product-wrapper">
                <div class="cart-product-container  ps-scroll">
                    <!--=======  single cart product  =======-->

                    <div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
                        <div class="image">
                            <a href="shop-product-basic.html">
                                <img src="assets/images/cart-product-image/01.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <h5><a href="shop-product-basic.html">Dark Brown Leather Watch</a></h5>
                            <p><span class="cart-count">2 x </span> <span class="discounted-price">$180.00</span></p>

                        </div>
                    </div>

                    <!--=======  End of single cart product  =======-->
                    <!--=======  single cart product  =======-->

                    <div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
                        <div class="image">
                            <a href="shop-product-basic.html">
                                <img src="assets/images/cart-product-image/02.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <h5><a href="shop-product-basic.html">Dining Chair</a></h5>
                            <p><span class="cart-count">2 x </span> <span class="discounted-price">$220.00</span></p>

                        </div>
                    </div>

                    <!--=======  End of single cart product  =======-->
                    <!--=======  single cart product  =======-->

                    <div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
                        <div class="image">
                            <a href="shop-product-basic.html">
                                <img src="assets/images/cart-product-image/03.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <h5><a href="shop-product-basic.html">Creative Wooden Stand</a></h5>
                            <p><span class="cart-count">2 x </span> <span class="discounted-price">$80.00</span></p>

                        </div>
                    </div>

                    <!--=======  End of single cart product  =======-->
                    <!--=======  single cart product  =======-->

                    <div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
                        <div class="image">
                            <a href="shop-product-basic.html">
                                <img src="assets/images/cart-product-image/01.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <h5><a href="shop-product-basic.html">Dark Brown Leather Watch</a></h5>
                            <p><span class="cart-count">2 x </span> <span class="discounted-price">$180.00</span></p>

                        </div>
                    </div>

                    <!--=======  End of single cart product  =======-->
                    <!--=======  single cart product  =======-->

                    <div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
                        <div class="image">
                            <a href="shop-product-basic.html">
                                <img src="assets/images/cart-product-image/02.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <h5><a href="shop-product-basic.html">Creative Wooden Stand</a></h5>
                            <p><span class="cart-count">2 x </span> <span class="discounted-price">$180.00</span></p>

                        </div>
                    </div>

                    <!--=======  End of single cart product  =======-->
                </div>

                <!--=======  subtotal calculation  =======-->

                <p class="cart-subtotal">
                    <span class="subtotal-title">Subtotal:</span>
                    <span class="subtotal-amount">$200.00</span>
                </p>

                <!--=======  End of subtotal calculation  =======-->

                <!--=======  cart buttons  =======-->

                <div class="cart-buttons">
                    <a href="shop-cart.html">view cart</a>
                    <a href="shop-checkout.html">checkout</a>
                </div>

                <!--=======  End of cart buttons  =======-->

                <!--=======  free shipping text  =======-->

                <p class="free-shipping-text">
                    Free Shipping on All Orders Over $100!
                </p>

                <!--=======  End of free shipping text  =======-->
            </div>
        </div>

        <!--=======  End of offcanvas cart content container   =======-->
    </div>
</div>

<!--=======  End of cart overlay  =======-->


<!--=======  search overlay  =======-->

<div class="search-overlay" id="search-overlay">

    <!--=======  close icon  =======-->

    <span class="close-icon search-close-icon">
			<a href="javascript:void(0)"  id="search-close-icon">
				<i class="ti-close"></i>
			</a>
		</span>

    <!--=======  End of close icon  =======-->

    <!--=======  search overlay content  =======-->

    <div class="search-overlay-content">
        <div class="input-box">
            <form action="http://demo.hasthemes.com/lezada-v1/lezada/index.html">
                <input type="search" placeholder="Search Products...">
            </form>
        </div>
        <div class="search-hint">
            <span># Hit enter to search or ESC to close</span>
        </div>
    </div>

    <!--=======  End of search overlay content  =======-->
</div>

<!--=======  End of search overlay  =======-->

<!--=====  End of overlay items  ======-->

<!--=============================================
=            quick view         =
=============================================-->

<div id="qv-1" class="cd-quick-view">
    <div class="cd-slider-wrapper">
        <ul class="cd-slider">
            <li class="selected"><img src="assets/images/products/furniture-1-1-600x800.jpg" alt="Product 2"></li>
            <li><img src="assets/images/products/furniture-1-2-600x800.jpg" alt="Product 1"></li>
        </ul> <!-- cd-slider -->

        <ul class="cd-slider-pagination">
            <li class="active"><a href="#0">1</a></li>
            <li><a href="#1">2</a></li>
        </ul> <!-- cd-slider-pagination -->

        <ul class="cd-slider-navigation">
            <li><a class="cd-prev" href="#0">Prev</a></li>
            <li><a class="cd-next" href="#0">Next</a></li>
        </ul> <!-- cd-slider-navigation -->
    </div> <!-- cd-slider-wrapper -->

    <div class="lezada-item-info cd-item-info ps-scroll">

        <h2 class="item-title">Wooden round table</h2>
        <p class="price">
            <span class="main-price discounted">$360.00</span>
            <span class="discounted-price">$300.00</span>
        </p>

        <p class="description">Hurley Dry-Fit Chino Short. Men's chino short. Outseam Length: 19 Dri-FIT Technology helps keep you dry and comfortable. Made with sweat-wicking fabric. Fitted waist with belt loops. Button waist with zip fly provides a classic look and feel .</p>

        <span class="quickview-title">Quantity:</span>
        <div class="pro-qty d-inline-block mb-40">
            <input type="text" value="1">
        </div>

        <div class="add-to-cart-btn mb-25">

            <button class="lezada-button lezada-button--medium">add to cart</button>
        </div>

        <div class="quick-view-other-info">
            <table>
                <tr class="single-info">
                    <td class="quickview-title">SKU: </td>
                    <td class="quickview-value">12345</td>
                </tr>
                <tr class="single-info">
                    <td class="quickview-title">Categories: </td>
                    <td class="quickview-value">
                        <a href="#">Fashion</a>,
                        <a href="#">Men</a>,
                        <a href="#">Sunglasses</a>
                    </td>
                </tr>
                <tr class="single-info">
                    <td class="quickview-title">Tags: </td>
                    <td class="quickview-value">
                        <a href="#">Fashion</a>,
                        <a href="#">Men</a>
                    </td>
                </tr>
                <tr class="single-info">
                    <td class="quickview-title">Share on: </td>
                    <td class="quickview-value">
                        <ul class="quickview-social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>


    </div> <!-- cd-item-info -->
    <a href="#0" class="cd-close">Close</a>
</div>

<div id="mbg" style="display:none">

    <a class="btnfixed" href="/login"><center>GET STARTED</center></a>
</div>


<!--=====  End of quick view  ======-->

<!-- scroll to top  -->
<a href="#" class="scroll-top"></a>
<!-- end of scroll to top -->

</body>


<!-- Mirrored from demo.hasthemes.com/lezada-v1/lezada/index-furniture.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 Jan 2019 09:55:02 GMT -->
</html>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
-->