<br><br>
<div class="mailchimp-newsletter-area mb-100" >
    <div class="container" >
        <div class="row" >
            <div class="col-lg-12">
                <!--=======  newsletter content  =======-->

                <div class="mc-newsletter-content-container text-center pt-15 pb-15 pl-15 pr-15" style="background:#259CB0 ">
                    <div class="mc-newsletter-content pt-70 pb-70">
                        <div class="icon">
                            <i class="ion-ios-email-outline"></i>
                        </div>
                        <div class="title mb-30">
                            <h3 class="mb-20">Refer Friend</h3>
                            <p>Refer your friend &amp; let softpress to provide facilities</p>
                        </div>
                        <div class="mc-newsletter-form mb-50">
                            <form id="mc-form-2" class="mc-form" novalidate="true">
                                <input type="email" placeholder="Your email address" value={{na}} id="rem" name="EMAIL">
                                <a class="mc-button"  id="send" style="color: #ffffff;">Email</a>
                            </form>
                            <input type="hidden" value="{{na}}" id="nam">
                            <div id="err_log_remail"></div>
                        </div>

                        <!-- mailchimp-alerts Start -->

                        <div class="mailchimp-alerts">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div><!-- mailchimp-alerts end -->

                        <div class="link">
                            <a href="/cllogin">My Dashboard</a>
                        </div>

                    </div>
                </div>

                <!--=======  End of newsletter content  =======-->
            </div>
        </div>
    </div>
</div>